$color-primery: #e8e8e8;
$color-blue: #0077FF;
$color-secondary: #FFEE00;
$color-orange: #FFA200;
$color-dark: #132b4d;
$color-tints: #E9EEF4;
$color-text: #ededed;
$color-black: #000;

$bg-dark: #132b4d;
$bg-body: #111e36;
$bg-tabs: #2A3A56;

$transition: .3s linear;